
.calculadora{
  display:block;
  margin:0 auto;
  padding:20px;
  background-color:#031125;
  width:400px;
  height:700px;
  border: midnightblue;
}
.calculadora td button{
  display:block;
  width:70px;
  height: 70px;
  font-size: 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
}
#creditos{
  display:block;
  padding-top:20px;
  color:#fff;
  text-align: center;
  width:auto;
}
#resultado{
  display:block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width:300px;
  height: 100px;
  line-height: 100px;
  background-color:#fff;
  border-radius: 25px;
  overflow-y: scroll;
}
.btnCool td{
  
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 5px;
}
